* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
  background-color: #d6d7db; 
  margin: 0;
}

header {
    display:inline-block;
    color: #fff;
    background-color: #fff;
    padding:10px;
    padding-right: 90px;
    padding-bottom: 1100px;
    text-align: center;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 3%;
    

}
i {
    color: #292c35;
}


header #logo img {
    width: 13%;
    position: absolute;
    top: 120px;
    left: 210px;
    
    
}


#nav-left ul {
    display: flex;
    gap:60px;
    margin-left: 200px;
    margin-top: 14px;
    background-color: #fff;
    color: #fff;
    

    
    
}
 

#nav-left {
    display:flex;
    gap: 20px;
    margin: 120px;
    margin-right: 190px;
    margin-top: 14px;
    margin-left: 0px;
    background-color: #fff;
    
}


#nav-left section  {
    margin-top: 15px;
    margin-right: 2px;
    position: relative;
    right: -200px;
}





#hero {
    display: flex;
    gap: 210px;
    position: absolute;
    top: 200px;
    left: 310px;
}

section #hero-right img {
    height: 400px;
    width:420px;


}

section #hero-right:hover {
    transform: scale(1.1);
    transition: 0.2s linear ;
    cursor: pointer;
}

section #left h1{
    font-family: "Poppins", sans-serif;
    font-weight: 460;
    font-style: normal;
    margin-top: 125px;
}







body.dark {background-color: #292c35;} 

body.dark body.dark  {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color:#d6d7db;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#aqi-card {
    position: absolute;
    right: 500px;
    top: 750px;
    left: 490px;
    text-align: center;

}

#aqi-h1 {
    color: #551a8b;

}

#aqi-h1 i {
    font-size: 24px; 
    margin-right: 10px;
   
}
#aqi-h1 button {
    width: 150px;  
    padding: 4px 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    
   
}

#aqi-h1 button:hover {
    background-color: #292c35;
    color:#d6d7db;
}
#aqi-card #city-input {
    width: 350px;  
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#card {
    background-color: #d6d7db;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;

}

#aqi-icon i {
    margin-left: 210px;
    font-size: 40px;
}